@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Itim', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(https://cdn.wallpapersafari.com/82/75/u9UeFz.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 3em;
}

.video {
    cursor: pointer;
    width: 90%;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.controls {
    width: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#514f4f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.controls .timestamp {
    width: 50px;
    color: yellow;
}
.btnPlay {
    border: 0;
    background: transparent;
    color: #08d37b;
    cursor: pointer;
    visibility: visible;
}
.btnStop {
    border: 0;
    background: transparent;
    color: orangered;
    cursor: pointer;
}
/* #hidethis {
    visibility: hidden;
    display: none;
} */


.controls .timestamp {
    margin-left: 5px;
    font-size: 0.8em;
}

.week {
    width: 90%;
    background-color: lightgrey;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

video {
    width: 400px;
    height: 250px;
}
@media (max-width: 800px) {
    .week {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}



